.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/*@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
*/
.App-header {
  background-color: #49556e;
  min-height: 80px;
  width: 100%;
  display: flex;
  font-size: calc(10px + 2vmin);
  border-bottom: 1px solid #dee2e6;
  /* Border at the bottom */

  color: white;
}


.logo {
  /* Add any specific styling for your logo here */
}

.nav-links {
  /* Flexbox styling for the links */
  display: flex;
  gap: 15px;
  /* Space between the links */
}

.nav-link {
  text-decoration: none;
  color: #007bff;
  /* Bootstrap primary color */
}

.nav-link:hover {
  text-decoration: underline;
}

.App-link {
  color: #61dafb;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}